@import 'components/variables.scss';

/* Main Styles
-------------------------------------------------- */
body {
  padding:0;
}

.ns-app {
  margin-top: 30px;
  padding:10px;
}

a {
  color: $default-link-color;
  text-decoration: none;
}

a:hover {
  color: #CF9317;
  text-decoration: none;
}

.inline {
  display: inline;
}

.no-margin {
  margin:0;
}

/* Header Section
-------------------------------------------------- */
.ns-page-title {
  float: right;
}

.ns-hdg {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 20px;
  border-bottom: 2px solid #998d57;
/*  background-color: #fff;
  background-image: url('../img/top_bg.png');
  background-repeat: repeat-x;
  background-position: bottom left;*/
}

.ns-hdg .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  /*margin: 0 10px 0 0;*/
}

.ns-hdg .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #05007B !important;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  font-size: 1.4em;
  text-transform:uppercase;
  font-weight:300;
  /*border-top:11px solid transparent;*/
}

.ns-hdg .nav > li > a:focus,
.ns-hdg .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  border-top:11px solid #CF9317;
  opacity: 0.9;
  color: #CF9317 !important;
}

.ns-hdg .nav > li.active  {
   border-top:11px solid #05007B;
   opacity: 0.9;
}

.ns-hdg .nav > li.active a {
  padding-top:0px;
  color: #CF9317 !important;
}

.ns-hdg .nav > li.active > a,
.ns-hdg .nav > li.active > a:hover,
.ns-hdg .nav > li.active > a:focus {
  color: #CF9317;
  background-color: transparent !important;
}

.ns-hdg .nav > li.active:hover {
  border-top:none;
  padding-top: 0px;
}

.ns-hdg .nav > li.active a:hover {
  padding-top:11px;
}

.ns-hdg .btn-navbar {
  background-color: #05007B;
  background-image: none;
}
.ns-hdg .btn-navbar:hover {
  background-color: #05007B;
  background-image: none;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 15px 0;
  /*margin-left: 20px;*/
}

/* Agency Imitation */
body.ns-imitate {
  padding-top: 51px;
}
.ns-imitate-navbar {
  color: #CF9317;
}

.ns-imitate-navbar h1 {
  font-size: 1.5em;
}

/* Application Ribbon
-------------------------------------------------- */
.ns-ribbon {
  border-top: 2px solid #998d57;
  border-bottom: 2px solid #998d57;
  /*padding-bottom: 18px;*/
  /*background-image: url('../img/top_bg.png');*/
  /*background-repeat: repeat-x;*/
  /*background-position: bottom left;*/
}

.ns-ribbon .nav > li > a {
  font-size: 1.2em;
  color: #FFF;
  text-shadow: none;
}

.ns-ribbon .nav > li {
  display: block;
  cursor: pointer;
}

.ns-ribbon .navbar-inner {
  height: 38px;
  margin: 0;
  // filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3F3D7A', endColorstr='#FF05007B');
  // background: #252525;
  // background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3F3D7A), color-stop(95%, #1E1D75), color-stop(97%, #0B0B72), color-stop(100%, #05007B));
  // background-image: -webkit-linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
  // background-image: -moz-linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
  // background-image: -ms-linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
  // background-image: -o-linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
  // background-image: linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
}

/* Dropdown caret color */
.ns-ribbon .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #CF9317 !important;
  border-bottom-color: #CF9317 !important;
}

.ns-ribbon .btn-navbar {
  background-color: #CF9317 !important;
  background-image: none !important;
}
.ns-ribbon .btn-navbar:hover {
  background-color: #CF9317 !important;
  background-image: none !important;
}

.lt-ie8 .ns-ribbon .nav > li > a:focus,
.lt-ie8 .ns-ribbon .nav > li > a:hover,
.lt-ie7 .ns-ribbon .nav > li > a:hover,
.lt-ie7 .ns-ribbon .nav > li > a:hover {
  background-color:transparent;
  zoom: 1;
}

.ns-ribbon .nav > li > a.ns-impersonate {
  padding-top: 5px !important;
  padding-bottom: 6px !important;
  color: #CF9317 !important;
}

.ns-ribbon-dropdown small {
  padding-left: 27px;
}

/* ns-page
-------------------------------------------------- */

// .ns-page {
//   padding: 20px;
//   background-color: #fff;
//   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -webkit-background-clip: padding-box;
//   -moz-background-clip: padding;
//   background-clip: padding-box;
//   -webkit-border-radius: 8px;
//   -moz-border-radius: 8px;
//   border-radius: 8px;
// }

// .ns-page h1 {
//   margin: 0 0 15px 0;
//   padding: 0 0 10px 0;
//   line-height: 1;
//   background: url('../img/border-2px.gif') repeat-x bottom left;
// }

/* ns-app-container
-------------------------------------------------- */
// .ns-app-container {
//   background-color: #fff;
//   border: 1px solid #e5e5e5;
//   margin: 0 auto;
//   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -webkit-background-clip: padding-box;
//   -moz-background-clip: padding;
//   background-clip: padding-box;
// }

.ns-app-ribbon {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 15px;
  border: 1px solid #e5e5e5;
}

.ns-app-inner {
  padding: 5px 20px;
  margin: 10px auto;
}

/* in-house styles
-------------------------------------------------- */
.in-house-ribbon {
  /*background-color: #05007B;*/
  position: relative;
  top:-20px;
  padding:10px;
  color: #fff;
}

/* summary-table
-------------------------------------------------- */
.summary-table caption,
.summary-table td,
.summary-table th {
  padding-left: 0 !important;
}

/* Footer
-------------------------------------------------- */
.footer {
  background: #fff;
  border-top: 2px solid #998d57;
  margin-top: 70px;
  margin-bottom: 0;
  padding: 70px 0;
}

.footer-nav-links,
.footer-icons {
  margin-left: 0;
  list-style: none;
}

.footer-nav-links li {
  margin-right: 10px;
  display: inline;
}

.footer-icons {
  margin-top: 30px;
}

.footer-icons li {
  float: left;
  margin-right: 20px;
}

/* Agents Only Notification Message
-------------------------------------------------- */
.strip {
  width: auto;
  margin: 10px auto;
  padding: 5px 10px;
  text-align: left;
  zoom: 1;
}

.strip .container .row-fluid > div,
.strip .container .row > div {
  font-weight: 400;
}

.strip .container .row-fluid,
.strip .container .row {
  color: white;
}

.notification {
  position: absolute;
  top: 10px;
  right: 148px;
  line-height: 16px;
  height: 16px;
  padding: 6px 10px;
  color: white !important;
  text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  -webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

/* Agents Only Menu - Navigation Menus
-------------------------------------------------- */
/*.ns-menu {
  padding: 0;
  margin:0;
  background-color: #fff;
}*/

// .ns-menu-container {
//   /*float: left;*/
//   /*width: 24.004321%;*/
//   /*margin-left:1.33%;*/
//   margin-bottom: 3em;
//   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -webkit-background-clip: padding-box;
//   -moz-background-clip: padding;
//   background-clip: padding-box;
// }

// .ns-menu-container:first-child {
//   margin-left: 0;
// }

.panel-ns-menu > .panel-heading {
  color: #fff;
  background-color: $brand-primary;
  border-color: #ddd;
  font-size: 1.2em;
  letter-spacing: .2em;
}

.ns-menu > li > a {
  display: block;
  margin: 0 0 -1px;
  font-size: 1.2em;
  padding: 11px 8px;
  overflow: hidden;
  // border: 1px solid #e5e5e5;
  white-space: nowrap;
  text-overflow: ellipsis;

/*  -webkit-transition: all .18s ease-in;
     -moz-transition: all .18s ease-in;
          transition: all .18s ease-in;*/
}

// .ns-menu > li.nav-header > h5,
// .ns-app-ribbon h5 {
//   font-size: 25px;
//   font-weight: normal;
//   color: #fff;
// }

// .ns-menu > li.nav-header {
//   display: block;
//   margin: 0 0 -1px;
//   padding: 8px 15px;
//   border: 1px solid #e5e5e5;
// }

.ns-menu > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  // -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  //    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  //         box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.ns-menu > li > a > small {
  padding-left: 18px;
}

.lt-ie8 .ns-menu > li > a > small,
.lt-ie7 .ns-menu > li > a > small {
  padding-left: 19px;
}

/* Typeography
-------------------------------------------------- */
.ul-hdg {
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
  line-height: 1;
  background: url('../img/border-2px.gif') repeat-x bottom left;
}

.search-params {
  margin: 30px 0;
}

.search-params h2 {
  color: #85AB00;
}

.search-params em {
  color: #555555;
}


/* Dropdowns
-------------------------------------------------- */
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  // background-color: #eeeeee !important;
  color: $default-link-color !important;
  background-image: none !important;
  background-repeat: none !important;
  overflow: hidden;
}

.lt-ie8 .dropdown-menu li > a:hover,
.lt-ie8 .dropdown-menu li > a:focus,
.lt-ie8 .dropdown-submenu:hover > a {
  overflow: visible;
}

.dropdown-menu {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-background-clip: padding;
     -moz-background-clip: padding;
       -o-background-clip: padding-box;
      -ms-background-clip: padding-box;
   -khtml-background-clip: padding-box;
          background-clip: padding-box;

  -webkit-box-shadow: 0 0 15px #303030;
     -moz-box-shadow: 0 0 15px #303030;
       -o-box-shadow: 0 0 15px #303030;
          box-shadow: 0 0 15px #303030;

}

#main-menu-right .dropdown-menu {
  width: 22em !important;
}

/* Misc List and other items
-------------------------------------------------- */
ul.ns-info-list li {
  margin-bottom: 5px;
}

ul.ns-info-list-nested {
  margin-left: 50px;
  font-size: 1em;
}

ul.ns-info-list-nested li {
  margin-bottom: 0px;
}

ul.ns-info-list-nested li:first-child,
ul.ns-info-list-nested li:last-child {
  list-style: none;
  margin-left: -20px;
}

.dl-horizontal-info {
  *zoom: 1;
  line-height: 22px;
}
.dl-horizontal-info:before,
.dl-horizontal-info:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal-info:after {
  clear: both;
}
.dl-horizontal-info dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.dl-horizontal-info dd {
  margin-left: 140px;
}

.dl-btm-spc {
  margin-bottom: 5px;
}

.pol-spcr {
  margin: 0 5px 0 5px;
}

/* Colors
-------------------------------------------------- */
.red {
  color: red;
}

.ns-gold {
  color: $ns-gold;
}

.ns-blue {
  color: $ns-blue;
}

/* Seperators
-------------------------------------------------- */
hr.dashed {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 1px dashed #CF9317;
  border-top: medium none;
  margin: 20px 0 10px;
}

/* Effects
-------------------------------------------------- */
.hover {
  opacity:.5;
  -webkit-transition:all .3s ease-in-out;
     -moz-transition:all .3s ease-in-out;
      -ms-transition:all .3s ease-in-out;
       -o-transition:all .3s ease-in-out;
          transition:all .3s ease-in-out;
}

.flexslider{
  margin:0;
  background:transparent !important;
  border:none !important;
  border-radius:none !important;
}

/* Bootstrap Extensions
-------------------------------------------------- */
[class^="icon-"], [class*=" icon-"] {
  margin: 0 2px;
  vertical-align: 0px;
}

/* Error Messages
------------------------- */
#error_explanation {
  border: 1px solid #e9322d !important;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  margin: -7px;
  background-color: #e9322d;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  /*font-size: 12px;*/
  list-style: square;
  color: #b94a48;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid,
.required {
  color: #b94a48 !important;
  border-color: #ee5f5b !important;
}

.form-horizontal .controls.required {
  border: 1px solid #e9322d;
  margin-left: 160px;
  padding: 10px 20px;
  background-color: #eee;
}

input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus,
.required {
  border-color: #e9322d !important;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}


/* Internet Explorer
-------------------------------------------------- */
.lt-ie8 [class^="icon-"], .lt-ie7 [class*=" icon-"] {
  vertical-align: 4px;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .ns-hdg .container,
  .ns-ribbon .container {
    width: 1170px;
  }

  .ns-page-title {
    margin-top: 3em;
  }

}

/* Desktop
------------------------- */
@media (max-width: 980px) {

  .navbar-fixed-top {
    margin-bottom: 0px;
  }

  .ns-app {
    margin-top: 15px;
  }

  .nav-collapse .nav > li.active {
    border-top: none;
    border-right: 11px;
    padding: 7px 15px;
    color: #05007B;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:300;
    /*border-top:11px solid transparent;*/
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
  }

  .ns-page-title h1 {
    font-size: 2em;
    margin-top: 5px;
    width: 100%;
  }

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {

  body {
    padding-top: 0;
    margin-top: 0;
  }

  body.ns-imitate {
    padding-top: 0px;
  }

  .ns-hdg .container,
  .ns-ribbon .container {
    /*width: 696px;*/
  }

  .footer .container {
    /*width: 670px;*/
  }

  .ns-page-title h1 {
    font-size: 2em;
    margin-top: 5px;
    width: 100%;
  }

  .ns-app {
    margin-top: 15px;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }

  .ns-menu > li > a {
    font-size: 1.1em;
  }

}

/* Tablet
------------------------- */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding: 0;
    margin: 0;
  }

  body.ns-imitate {
    padding-top: 0px;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }

  /* Unfloat the back to top link in footer */
  .footer, .ns-hdg {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }

  .ns-page-title h1 {
    font-size: 2em;
    margin-top: 5px;
    width: 100%;
  }

  .ns-menu > li > a {
    font-size: 1em;
  }

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
    margin-top: 0;
  }

  /* Unfloat the back to top in footer to prevent odd text wrapping */
  .footer .pull-right {
    float: none;
  }

  .ns-page-title h1 {
    font-size: 2em;
    margin-top: 5px;
    width: 100%;
  }

  .ns-imitate-navbar h1 {
    font-size: 1em;
  }
}

// For use with grid forms and ns-menu
@media only screen and (max-width: 700px) and (min-width: 0) {
  .ns-menu > li > a {
    font-size: 1.5em;
  }
}


/* Print Stylesheet
------------------------- */
@media print {

  body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
  }

  .ns-ribbon,
  .ns-app-ribbon,
  .footer,
  #activePDForm {
    display: none;
  }

  .ns-app-container {
    border: none;
  }

  .ns-page-title {
    padding-right: 20px;
  }

}

body{
  padding-top:0px;
  padding-bottom:0px;
}

/* Application Ribbon
-------------------------------------------------- */
.app-ribbon {
  border-top: 2px solid $ns-brown-gold;
  border-bottom: 2px solid $ns-brown-gold;
}

.app-ribbon .nav > li > a {
  font-size: 1.2em;
  color: #FFF;
  text-shadow: none;
}

.app-ribbon .nav > li {
  display: block;
  cursor: pointer;
}

.app-ribbon{
  margin: 0;
}

/* Dropdown caret color */
.app-ribbon .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #CF9317;
  border-bottom-color: #CF9317;
}

.app-ribbon .navbar-toggle {
  background-color: #CF9317 !important;
  background-image: none !important;
}
.app-ribbon .navbar-toggle:hover {
  background-color: #CF9317 !important;
  background-image: none !important;
}

// .nav .dropdown-menu > li > a:focus,
// .nav .dropdown-menu > li > a:hover {
//     background-color:#596881!important;
//     background-image:none!important;
// }

.lt-ie8 .app-ribbon .nav > li > a:focus,
.lt-ie8 .app-ribbon .nav > li > a:hover,
.lt-ie7 .app-ribbon .nav > li > a:hover,
.lt-ie7 .app-ribbon .nav > li > a:hover {
  background-color:transparent;
  zoom: 1;
}

@media screen and (max-width: 750px) {
  .collapse .nav{
    display:none;
    opacity:0%;
  }
  .collapse.in .nav{
    display:block;
    opacity:100%;
  }
}

#input-form, #select-form{
  padding: 10px 25px;
  margin: 5px -15px;
}

.ns-app-ribbon{
  padding-bottom:0px;
}
.ns-app-ribbon .nav-tabs{
  margin-bottom:0px;
  border-bottom:none;
}
.nav-tabs li a{
  background-color:#BBB!important;
  border-top-right-radius:15px!important;
  border-top-left-radius:15px!important;
  border-bottom:none!important;
}
.nav-tabs li.active a, .nav-tabs li.active a:focus{
  background-color:#FFF!important;
  border-top-right-radius:15px!important;
  border-top-left-radius:15px!important;
  border-bottom:none!important;
}
.nav-tabs li.active a:hover{
  border-color:#CF9317;
  background-color:#EEE!important;
  border-top-right-radius:15px!important;
  border-top-left-radius:15px!important;
  border-bottom:none!important;
}

.app-ribbon .nav > li > a.ns-impersonate {
  padding-top: 5px !important;
  padding-bottom: 6px !important;
  color: #CF9317 !important;
}

.app-ribbon-dropdown small {
  padding-left: 27px;
}
