// Overrides
.badge-primary {
  @include label-variant($label-primary-bg);
}

.badge-success {
  @include label-variant($label-success-bg);
}

.badge-info {
  @include label-variant($label-info-bg);
}

.badge-warning {
  @include label-variant($label-warning-bg);
}

.badge-danger {
  @include label-variant($label-danger-bg);
}

.control-label-err {
  color: $state-danger-text;
}

.navbar-nav > li > a {
  padding-top: 18px;
}

.form-control {
  // border: none;
  // border-bottom: 1px solid $input-border;
  // font-size: $font-size-large;
  // padding: 0;
  height: 27px;
  // line-height: 1.3;
  // margin: 0;
  // border: none;
  // border-radius: 0;
  // border-bottom: 1px solid $input-border;
  // box-shadow: none;
  &:focus {
    border: 1px solid #333333;
    // outline: 0;
    // border-bottom: 1px solid $body-bg;
    // box-shadow: none;
    // color: $body-bg;
    // font-weight: 300;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 51, 51, 0.6);
    label {
      color: darken(#333333, 15%);
    }
  }
}

.form-control-err {
  border-color: $state-danger-text;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control-err:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

// Breadcrumbs
.breadcrumb {
  border-radius: 0;
}

// Glyph Icon Sizes
.icon-lg {
  font-size: 24px;
}

.span-form-control {
  display: block;
  width: 100%;
  height: 26px;
  padding: 3px 6px;
  font-size: 13px;
  line-height: 1.42857;
  vertical-align: middle;
  border-radius: 4px;
}

// Panel box shadow
.panel-default, .panel-primary {
  box-shadow: 1px 2px 2px rgba(29, 39, 71, .4);
}

// .panel-default > .panel-heading {
//   background: linear-gradient(to bottom, $panel-default-heading-bg, $panel-default-border);
// }

// .panel-primary > .panel-heading {
//   background: linear-gradient(to bottom, $brand-primary, darken($brand-primary, 5%));
// }

// .panel-success > .panel-heading {
//   background: linear-gradient(to bottom, $state-success-bg, $state-success-border);
// }

// .panel-info > .panel-heading {
//   background: linear-gradient(to bottom, $state-info-bg, $state-info-border);
// }

// .panel-danger > .panel-heading {
//   background: linear-gradient(to bottom, $state-danger-bg, $state-danger-border);
// }

// Panel condensed
.panel-condensed {
  .panel-heading {
    padding: 5px 15px;
  }
  .panel-heading h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .panel-body {
    padding: 0px
  }
}

// Variations
// -------------------------

.progress-bar-success {
  @include progress-bar-variant($progress-bar-success-bg);
}

.progress-bar-info {
  @include progress-bar-variant($progress-bar-info-bg);
}

.progress-bar-warning {
  @include progress-bar-variant($progress-bar-warning-bg);
}

.progress-bar-danger {
  @include progress-bar-variant($progress-bar-danger-bg);
}

// Gold Panel
// -------------------------
.panel-gold {
  @include panel-variant($panel-gold-border, $panel-gold-text, $panel-gold-heading-bg, $panel-gold-border);
}
