@media print {
  .app-container {
    width: 960px;
  }
  .print-title {
    margin-top: 15px;
    text-align: right;
  }
  .pg-title {
    margin-top: 60px;
    text-align: right;
    color: $ns-gold;
  }
  .print-logo {
    width: 55% !important;
  }

  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}