//
// Responsiveness... Make adjustments as needed
//
@media screen and (max-width: 767px) {
  .collapse .nav{
    display:none;
    opacity:0%;
  }
  .collapse.in .nav{
    display:block;
    opacity:100%;
  }

  .navbar-collapse {
    border-top: 0;
  }

  .pg-title {
    text-align: left;
    margin-top: 10px;
    padding-left: 15px;
  }

  .ns-menu > li > a {
    font-size: 1.2em;
  }

  .brand {
    padding-left: 15px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .debug-info {
    position: absolute;
    top: 15px;
    left: 0;
    right: 15px !important;
  }

  #pwdHelp {
    padding-left: 40px;
  }
}


/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .ns-hdg .container,
  .ns-ribbon .container {
    width: 1170px;
  }

  .ns-page-title {
    margin-top: 3em;
  }

}

/* Desktop
------------------------- */
@media (max-width: 980px) {

  .navbar-fixed-top {
    margin-bottom: 0px;
  }

  .ns-app {
    margin-top: 15px;
  }

  .nav-collapse .nav > li.active {
    border-top: none;
    border-right: 11px;
    padding: 7px 15px;
    color: #05007B;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:300;
    /*border-top:11px solid transparent;*/
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
  }

  .ns-page-title h1 {
    font-size: 2em;
    margin-top: 5px;
    width: 100%;
  }

}

/* Tablet to desktop
------------------------- */
@media (min-width: 763px) and (max-width: 820px) {

  .app-ribbon .nav > li > a {
    font-size: 1.03em;
  }

}

@media (min-width: 763px) and (max-width: 979px) {

  body.ns-imitate {
    padding-top: 0px;
  }

  .ns-page-title h1 {
    font-size: 2em;
    margin-top: 5px;
    width: 100%;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }

}

/* Tablet
------------------------- */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {

  body.ns-imitate {
    padding-top: 0px;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }

  .ns-page-title h1 {
    font-size: 2em;
    margin-top: 5px;
    width: 100%;
    text-align: left;
    padding-left: 15px;
  }

  .ns-menu > li > a {
    font-size: 1.2em;
  }

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {

  /* Unfloat the back to top in footer to prevent odd text wrapping */
  .footer .pull-right {
    float: none;
  }

  .ns-page-title h1 {
    font-size: 2em;
    margin-top: 5px;
    width: 100%;
  }

  .ns-imitate-navbar h1 {
    font-size: 1em;
  }
}


// Phones
@media (min-width: $screen-xs) and (max-width: $screen-xs-max) {

  div#item-detail-view-details span.list-item-name {
    width: 45%;
  }

  .app-container {
    @include make-sm-column(12);
  }

  .contact-container {
    @include make-sm-column(12);
  }

  .summary-hdg {
    font-size: 1.6em;
  }

  .summary-details {
    h3.label {
      font-size: 1em;
      float: none;
    }
  }

  .half-lg-full-sm {
    @include make-xs-column(12);
  }

}

// Tablets
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
  div#item-detail-view-details span.list-item-name {
    width: 60%;
  }

  .app-container {
    @include make-sm-column(12);

  }
  .contact-container {
    @include make-sm-column(12);
  }

  .summary-hdg {
    font-size: 1.6em;
  }

  .summary-hdg-sm {
    font-size: 1.4em;
    float: none;
  }

  .half-lg-full-sm {
    @include make-sm-column(12);
  }

  .col-1 {
    @include make-sm-column(1);
  }
  .col-2 {
    @include make-sm-column(2);
  }
  .col-3 {
    @include make-sm-column(3);
  }
  .col-4 {
    @include make-sm-column(4);
  }
  .col-5 {
    @include make-sm-column(5);
  }
  .col-6 {
    @include make-sm-column(6);
  }
  .col-7 {
    @include make-sm-column(7);
  }
  .col-8 {
    @include make-sm-column(8);
  }
  .col-9 {
    @include make-sm-column(9);
  }
  .col-10 {
    @include make-sm-column(10);
  }
  .col-11 {
    @include make-sm-column(11);
  }
  .col-12 {
    @include make-sm-column(12);
  }
  // Offset columns
  .col-offset-1 {
    @include make-sm-column-offset(1);
  }
  .col-offset-2 {
    @include make-sm-column-offset(2);
  }
  .col-offset-3 {
    @include make-sm-column-offset(3);
  }
  .col-offset-4 {
    @include make-sm-column-offset(4);
  }
  .col-offset-5 {
    @include make-sm-column-offset(5);
  }
  .col-offset-6 {
    @include make-sm-column-offset(6);
  }
  .col-offset-7 {
    @include make-sm-column-offset(7);
  }
  .col-offset-8 {
    @include make-sm-column-offset(8);
  }
  .col-offset-9 {
    @include make-sm-column-offset(9);
  }
  .col-offset-10 {
    @include make-sm-column-offset(10);
  }
  .col-offset-11 {
    @include make-sm-column-offset(11);
  }
  .col-offset-12 {
    @include make-sm-column-offset(12);
  }

}

// Small desktops
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
  div#item-detail-view-details span.list-item-name {
    width: 60%;
  }

  .app-container {
    @include make-sm-column(12);
  }

  .contact-container {
    @include make-sm-column(12);
  }

  .summary-hdg {
    font-size: 1.6em;
  }

  .summary-hdg-sm {
    font-size: 1.4em;
    float:right;
  }

  .half-lg-full-sm {
    @include make-md-column(6);
  }

  .col-1 {
    @include make-md-column(1);
  }
  .col-2 {
    @include make-md-column(2);
  }
  .col-3 {
    @include make-md-column(3);
  }
  .col-4 {
    @include make-md-column(4);
  }
  .col-5 {
    @include make-md-column(5);
  }
  .col-6 {
    @include make-md-column(6);
  }
  .col-7 {
    @include make-md-column(7);
  }
  .col-8 {
    @include make-md-column(8);
  }
  .col-9 {
    @include make-md-column(9);
  }
  .col-10 {
    @include make-md-column(10);
  }
  .col-11 {
    @include make-md-column(11);
  }
  .col-12 {
    @include make-md-column(12);
  }
  // Offset columns
  .col-offset-1 {
    @include make-md-column-offset(1);
  }
  .col-offset-2 {
    @include make-md-column-offset(2);
  }
  .col-offset-3 {
    @include make-md-column-offset(3);
  }
  .col-offset-4 {
    @include make-md-column-offset(4);
  }
  .col-offset-5 {
    @include make-md-column-offset(5);
  }
  .col-offset-6 {
    @include make-md-column-offset(6);
  }
  .col-offset-7 {
    @include make-md-column-offset(7);
  }
  .col-offset-8 {
    @include make-md-column-offset(8);
  }
  .col-offset-9 {
    @include make-md-column-offset(9);
  }
  .col-offset-10 {
    @include make-md-column-offset(10);
  }
  .col-offset-11 {
    @include make-md-column-offset(11);
  }
  .col-offset-12 {
    @include make-md-column-offset(12);
  }

}

// Large desktop / higher resolution
@media (min-width: $screen-lg) {

  div#item-detail-view-details span.list-item-name {
    width: 65%;
  }

  .summary-hdg {
    font-size: 1.6em;
  }

  .summary-hdg-sm {
    font-size: 1.4em;
    float:right;
  }

  .half-lg-full-sm {
    @include make-lg-column(6);
  }

  .col-1 {
    @include make-lg-column(1);
  }
  .col-2 {
    @include make-lg-column(2);
  }
  .col-3 {
    @include make-lg-column(3);
  }
  .col-4 {
    @include make-lg-column(4);
  }
  .col-5 {
    @include make-lg-column(5);
  }
  .col-6 {
    @include make-lg-column(6);
  }
  .col-7 {
    @include make-lg-column(7);
  }
  .col-8 {
    @include make-lg-column(8);
  }
  .col-9 {
    @include make-lg-column(9);
  }
  .col-10 {
    @include make-lg-column(10);
  }
  .col-11 {
    @include make-lg-column(11);
  }
  .col-12 {
    @include make-lg-column(12);
  }
  // Offset columns
  .col-offset-1 {
    @include make-lg-column-offset(1);
  }
  .col-offset-2 {
    @include make-lg-column-offset(2);
  }
  .col-offset-3 {
    @include make-lg-column-offset(3);
  }
  .col-offset-4 {
    @include make-lg-column-offset(4);
  }
  .col-offset-5 {
    @include make-lg-column-offset(5);
  }
  .col-offset-6 {
    @include make-lg-column-offset(6);
  }
  .col-offset-7 {
    @include make-lg-column-offset(7);
  }
  .col-offset-8 {
    @include make-lg-column-offset(8);
  }
  .col-offset-9 {
    @include make-lg-column-offset(9);
  }
  .col-offset-10 {
    @include make-lg-column-offset(10);
  }
  .col-offset-11 {
    @include make-lg-column-offset(11);
  }
  .col-offset-12 {
    @include make-lg-column-offset(12);
  }

}