body{
  padding-top:0px;
  padding-bottom:0px;
}

/* Application Ribbon
-------------------------------------------------- */
.app-ribbon {
  /*border-top: 2px solid #998d57;*/
  border-bottom: 2px solid #998d57;
  /*padding-bottom: 18px;*/
  /*background-image: url('../img/top_bg.png');*/
  /*background-repeat: repeat-x;*/
  /*background-position: bottom left;*/
}

.app-ribbon .nav > li > a {
  font-size: 1.2em;
  color: #FFF !important;
  text-shadow: none !important;
}

.app-ribbon .nav > li {
  display: block;
  cursor: pointer;
}

.app-ribbon{
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3F3D7A', endColorstr='#FF05007B');
  background: #252525;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3F3D7A), color-stop(95%, #1E1D75), color-stop(97%, #0B0B72), color-stop(100%, #05007B));
  background-image: -webkit-linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
  background-image: -moz-linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
  background-image: -ms-linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
  background-image: -o-linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
  background-image: linear-gradient(top, #3F3D7A 0%,#1E1D75 95%,#0B0B72 97%,#05007B 100%);
}

/* Dropdown caret color */
.app-ribbon .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #CF9317 !important;
  border-bottom-color: #CF9317 !important;
}

.app-ribbon .navbar-toggle {
  background-color: #CF9317 !important;
  background-image: none !important;
}
.app-ribbon .navbar-toggle:hover {
  background-color: #CF9317 !important;
  background-image: none !important;
}

.nav .dropdown-menu > li > a:focus,
.nav .dropdown-menu > li > a:hover {
    background-color:#596881!important;
    background-image:none!important;
}

.lt-ie8 .app-ribbon .nav > li > a:focus,
.lt-ie8 .app-ribbon .nav > li > a:hover,
.lt-ie7 .app-ribbon .nav > li > a:hover,
.lt-ie7 .app-ribbon .nav > li > a:hover {
  background-color:transparent;
  zoom: 1;
}

@media screen and (max-width: 750px) {
  .collapse .nav{
    display:none;
    opacity:0%;
  }
  .collapse.in .nav{
    display:block;
    opacity:100%;
  }
}

#input-form, #select-form{
  padding: 10px 25px;
  margin: 5px -15px;
}

  .ns-app-ribbon{
    padding-bottom:0px;
  }
  .ns-app-ribbon .nav-tabs{
    margin-bottom:0px;
    border-bottom:none;
  }
  .nav-tabs li a{
    background-color:#BBB!important;
    border-top-right-radius:15px!important;
    border-top-left-radius:15px!important;
    border-bottom:none!important;
  }
  .nav-tabs li.active a, .nav-tabs li.active a:focus{
    background-color:#FFF!important;
    border-top-right-radius:15px!important;
    border-top-left-radius:15px!important;
    border-bottom:none!important;
  }
  .nav-tabs li.active a:hover{
    border-color:#CF9317;
    background-color:#EEE!important;
    border-top-right-radius:15px!important;
    border-top-left-radius:15px!important;
    border-bottom:none!important;
  }

.app-ribbon .nav > li > a.ns-impersonate {
  padding-top: 5px !important;
  padding-bottom: 6px !important;
  color: #CF9317 !important;
}

.app-ribbon-dropdown small {
  padding-left: 27px;
}

